<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poker</title>
    <link rel="stylesheet" href="..\static\style.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
    <div id="tableEl" class="table">
                <div id="card1El" class="card1">
                    <span class="value">{{ card1 }}</span>
                    <span class="suit {{ color1 }}">{{ suit1 }}</span>
                </div>
                <div id="card2El" class="card2">
                    <span class="value">{{ card2 }}</span>
                    <span class="suit {{ color2 }}">{{ suit2 }}</span>
                </div>
    </div>
    <div class="buttons">
        <button class="buttonBet">Bet</button>
        <button class="buttonFold">Fold</button>
    </div>
</body>
</html>