<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poker</title>
    <link rel="stylesheet" href="..\static\style.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" >

</head>

<body>
    <div id="tableEl" class="table">
      <h1 id="potQnt" class="pot">Pot :</h1>
      <h2 id="compChips" class="cab3">Computer Chips: <span id="compChipQnt">640</span></h2>
      <h2 id="comp" class="cab1">Computer :</h2>
      <h2 id="pla" class="cab2">Player :</h2>
        <div class="tableContent">

             <div class="ia-cards">
                <div class="ia-card">
                    <span class="value">{{ ia_card1 }}</span>
                    <span class="suit {{ ia_color1 }}">{{ ia_suit1 }}</span>
                </div>
                 <div class="ia-card">
                    <span class="value">{{ ia_card2 }}</span>
                    <span class="suit {{ ia_color2 }}">{{ ia_suit2 }}</span>
                </div>
                </div>

      <div id="tableCardsEl" class="tableCards">
        <div class="mesa-carta">
        <span class="value">{{ flop1 }}</span>
        <span class="suit {{ flop1_color }}">{{ flop1_suit }}</span>
      </div>
      <div class="mesa-carta">
        <span class="value">{{ flop2 }}</span>
        <span class="suit {{ flop2_color }}">{{ flop2_suit }}</span>
      </div>
      <div class="mesa-carta">
        <span class="value">{{ flop3 }}</span>
        <span class="suit {{ flop3_color }}">{{ flop3_suit }}</span>
      </div>
      {% if turn %}
    <div class="mesa-carta" id="turn-card">
        <span class="value">{{ turn_value }}</span>
        <span class="suit {{ turn_color }}">{{ turn_suit }}</span>
    </div>
    {% endif %}
      </div>
                <div class="player-cards">
                <div id="card1El" class="card1">
                    <span class="value">{{ card1 }}</span>
                    <span class="suit {{ color1 }}">{{ suit1 }}</span>
                </div>
                <div id="card2El" class="card2">
                    <span class="value">{{ card2 }}</span>
                    <span class="suit {{ color2 }}">{{ suit2 }}</span>
                </div>
                </div>
         
    </div>
    <div class="buttons">
      
        <button id="btnCheck"  class="buttonCheck">Check</button>
        <button id="btnFold" class="buttonFold">Fold</button>
        <form action="/bet" method="POST">
        <button id="btnBet" class="buttonBet" type="submit" value="bet" name="play">Bet</button>
        </form>
      

        <button class="buttonOdd" id="minus"><i class="fa-solid fa-minus fa-2x"></i></button>
        
        <h2 id="value" class="number">20</h2>

        <button class="buttonOdd" id="plus"><i class="fa-solid fa-plus fa-2x"></i></button>
        
        <h2 id="chips" class="chips">Chips: <span id="chipQnt">620</span></h2>

    </div>
    <script src="..\static\script.js"></script>
</body>
</html>